<% content_for :title, "Posts" %>

<%= link_to "All Our Users", users_path %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Posts</h1>
    <% if policy(Post).create? %>
      <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div id="posts" class="row g-4">
    <% @posts.each do |post| %>
      <div class="col-md-6 col-lg-4">
        <%= render post %>
      </div>
    <% end %>
  </div>
</div>
