<% content_for :title, "Edit Kitten" %>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">Edit Kitten: <%= @kitten.name %></h1>
      <%= render "form", kitten: @kitten %>
    </div>
  </div>
</div>

<br>

<div>
  <%= link_to "Show this kitten", @kitten %> |
  <%= link_to "Back to kittens", kittens_path %>
</div>
