<h1>Events created by <%= @user.email %></h1>

<% @events.each do |event| %>
    <%= render event %>
    <p>
        <%= link_to "Show this event", event %>
    </p>
<% end %>

<%= link_to "Back to all events", events_path %>
