<h1>Welcome to My Awesome Site, <%= @user.email %></h1>
<p>You have successfully signed up to My Awesome Site<br></p>
<p>To login to the site, just follow this link: <%= link_to 'login', new_user_session_url %>.</p>
<p>Thanks for joining and have a great day!</p>
