<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

<% if policy(Post).new? %>
  <%= link_to "New post", new_post_path %>
<% else %>
  <h2>Please log in to create posts</h2>
<% end %>
